<!-- Glavni Naslov -->

<div style="padding-top: 30px; padding-left: 46px; padding-bottom: 30px; font-family: Arial, sans-serif; font-size: 14px;">
    <div style="color:#333333;margin-bottom:20px; width: 491px;">
        Poštovani,
        <br /> Putem kontakt forme sa Shop.rs portala, je stigla sledeća poruka:
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="511" style="padding:20px;background-color:#eeeeee;margin:10px 0px; ">
        <tr>
            <td style="font-weight:bold;padding:5px 0px;border-bottom:1px solid #cccccc; font-size: 14px;">Ime:</td>
            <td style="border-bottom:1px solid #cccccc; font-size: 14px;">{ime}</td>
        </tr>
        <tr>
            <td style="font-weight:bold;padding:5px 0px;border-bottom:1px solid #cccccc; font-size: 14px;">Email:</td>
            <td style="border-bottom:1px solid #cccccc; font-size: 14px;">{email}</td>
        </tr>
        <tr>
            <td style="font-weight:bold;padding:5px 0px;border-bottom:1px solid #cccccc; font-size: 14px;">Naslov:</td>
            <td style="border-bottom:1px solid #cccccc; font-size: 14px;">{naslov_poruke}</td>
        </tr>
        <tr>
            <td style="font-weight:bold;padding:5px 0px;border-bottom:1px solid #cccccc; font-size: 14px;">Poruka:</td>
            <td style="border-bottom:1px solid #cccccc; font-size: 14px;">{poruka}</td>
        </tr>
    </table>
</div>

            
          
            
            
            
         
        