<!-- Glavni Naslov -->

<div style="padding-top: 30px; padding-left: 46px; padding-bottom: 30px; font-family: Arial, sans-serif; font-size: 14px;">
    <div style="color:#333333;margin-bottom:20px; width: 491px;">
        Poštovani,
        <br /> Uspesno ste se registrovali na sajtu Shop.rs. Molimo Vas kliknite na sledeci  <a href="{link}" target="_blank">Link</a> kako bi potvrdili vasu registraciju
    </div>
    
</div>

            
          
            
            
            
         
        